<h2>Realizar Pedido</h2>
<h4>Precio total: <span>{{cart.getTotalPrice() | currency}}</span></h4>
<div class="row">
    <div class=" col-xs-12 col-sm-8">
        <table class="invoice table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Comentarios</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in cart.items">
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.comment}} </td>
                    <td class="no-breaks">{{item.quantity}} ({{item.unit}})</td>
                    <td class="no-breaks">x {{item.price | currency}} <span ng-show="item.aproxPrice" class="text-danger">*</span></td>
                    <td class="no-breaks">{{item.price * item.quantity | currency}} <span ng-show="item.aproxPrice" class="text-danger">*</span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><span class="text-danger">* precio aproximado. Puede variar dependiendo de la unidad.</span></td>
                    <th>Total:</th>
                    <th>{{cart.getTotalPrice() | currency}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class=" col-xs-12 col-sm-4">
        <form name="addUserForm">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" ng-model="user.name" disabled />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" ng-model="user.email" disabled />
            </div>
            <div class="form-group">
                <label for="phone">Teléfono</label>
                <input type="tel" id="phone" class="form-control" ng-model="user.phone" disabled />
            </div>
            <div class="form-group">
                <label for="address">Dirección</label>
                <textarea rows="3" id="address" class="form-control" ng-model="user.address" disabled></textarea>
            </div>
            <div class="form-group">
                <label for="comments">Comentarios</label>
                <textarea rows="3" id="comments" class="form-control" placeholder="Ingrese cualquier consulta que necesite" ng-model="user.comments"></textarea>
            </div>
        </form>
    </div>
</div>

<div class="center-block text-center"><button class="btn btn-primary btn-lg" ng-disabled="!addUserForm.$valid" ng-click="confirmOrder()">Confirmar pedido >></button></div>