<h2>Registro</h2>
<label>{{message}}</label>
<form name="addUserForm">
    <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" id="name" placeholder="Nombre" ng-model="user.name" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email" ng-model="user.email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" required>
    </div>
    <div class="form-group">
        <label for="password">Repetir Password</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Password" ng-model="user.confirmPassword" data-password-verify="user.password" required>
    </div>
    <div ng-show="addUserForm.confirmPassword.$error.passwordVerify">
        El password no coincide!
    </div>
    <div class="form-group">
        <label for="phone">Teléfono</label>
        <input type="tel" id="phone" class="form-control" placeholder="Ingrese su teléfono fijo o movil" ng-model="user.phone" required>
    </div>
    <div class="form-group">
        <label for="Address">Dirección</label>
        <textarea class="form-control" ng-model="user.address" required></textarea>
    </div>

    <button type="submit" class="btn btn-default" ng-disabled="!addUserForm.$valid" ng-click="addUser()">Registrarse</button>
</form>