body {
    background: #000000;
    background-image: url(https://lh6.googleusercontent.com/-ZJX9YzJQvYQ/ToUuCTAfbfI/AAAAAAAAACE/L0aJ7oRcqOw/h1600/body-pattern-1.png);
    color: #676767;
    font: normal normal 12px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.main-container {
    background: url(https://lh5.googleusercontent.com/-o3DTpFffrHI/ToUZNoEdRZI/AAAAAAAAAB4/rEq7jJy21MA/h1600/container-bg.png);
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    -khtml-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
    padding: 0;
}

.top-bar {
    background: #fbfbfb url(https://lh5.googleusercontent.com/-JB-WwLJFHpI/TobUd5T_HVI/AAAAAAAAADY/dBCCBpdgvHA/h1600/divider.gif)repeat-x bottom left;
    padding: 10px 20px 0 20px;
    height: 40px;
    font-size: 20px;
}

.bottom-bar {
    background: #fbfbfb url(https://lh5.googleusercontent.com/-JB-WwLJFHpI/TobUd5T_HVI/AAAAAAAAADY/dBCCBpdgvHA/h1600/divider.gif)repeat-x bottom left;
    padding: 10px 20px 0 20px;
    height: 40px;
    font-size: 14px;
    margin-top: 50px;
}
.header{
    background-color: #fff;
    margin: 0;
    margin-bottom:15px;
}

.no-breaks{
    white-space: nowrap;
}
/*Slider*/
.banner {
    position: relative;
    overflow: auto;
    vertical-align: middle;
    background-color: #FFF;
}

.banner li {
    list-style: none;
}

.banner img {
    width: auto;
    height: 300px;
}

.banner ul li {
    float: left;
}

/**********/

/*#region NavBar */

.navbar{
    background-color: #7f6600;
    height: 46px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 2px 2px #DDD;
    -moz-box-shadow: 0 2px 2px #DDD;
    box-shadow: 0 2px 2px #DDD;
    margin: 25px 0 25px 0;
}

.navbar-default .navbar-nav>li>a {
font-size: 13px;
font-family: 'Open Sans', Tahoma, sans-serif;
font-weight: 700;
line-height: 14px;
text-decoration: none;
color: #fff;
z-index: 6;
padding: 16px 15px 16px 14px;
}

.navbar-default .navbar-nav>li>a:hover,.active .navbar-nav>li>a,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    color: #fc0;
    background-color: #7f6600;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    font-size: 13px;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-weight: 700;
    line-height: 14px;
    text-decoration: none;
    color: #fff;
    z-index: 6;
    padding: 16px 15px 16px 14px;
    color: #fc0;
    background-color: #7f6600;
}

.content{
    margin:auto;
    width:95%;
}
/*#endregion */

/*#region Cart */
.menu-cart {
    position: relative;
    top: -5px;
    border-radius: 4px;
    float: right;
    margin-right: 10px;
    height: 60px;
    display: block;
    line-height: 16px;
    background: #ffcc00 url(https://lh3.googleusercontent.com/-dUX23H-zKxs/ToTuES-9aaI/AAAAAAAAAB0/28AzfxgjNlI/h80/basket.png) no-repeat 8px center;
    border: 1px solid #ff9900;
    color: #111;
    padding: 12px 12px 12px 45px;
}

.menu-cart a.mycart {
    font-size: 16px;
    display: block;
    font-weight: 700;
    font-family: 'Open Sans', Tahoma, sans-serif;
    color: #fff;
    margin: 0;
}
/*#endregion */

/*#region Productos */
.product {
    height:185px;
    cursor:pointer;
}
.product-img {
    width: 120px;
    height: 120px;
}
.product .caption{
    padding: 0;
    margin: 0;
    padding-left: 5px;
    height:55px;
    display: table;
    table-layout: fixed;
}

.product h3{
    padding: 0;
    margin: 0;
    display:table-cell;
    vertical-align:middle;
    font-size:16px;
}

.product .price{
    background-color: #7f6600;
    color: #FFF;
    font-weight: bold;
    padding: 4px;
    position: absolute;
    top: 100px;
    left: 45%;
}
.product .panel {
    background-color: #f4f4f4;
    padding: 5px;
    margin: 0;
    text-align: center;
}
.product .panel-cart {
    font-size: 22px;
    padding: 0;
}
.product .panel input{
    width:45px;
}
/*#endregion */

/*#region Product modal */
.product-modal{
    padding: 10px;
    width:400px;
}

.product-modal p{
    margin-bottom:5px;
}

.modal-sm {
width: 400px;
}

.product-modal .text-danger-small{
    font-size: 11px;
}
/*#endregion */

/*#region Carrito */
.invoice input[type="number"]{
    width: 60px;
}
.invoice input[type="text"]{
    width: 100%;
}
.invoice{
    width:100%;
    font-size:16px;
}
.invoice tr td, .invoice tr th{
    background-color: #fff;
}

.invoice .glyphicon {
    color: red;
}
/*#endregion */

/*#region Login */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*#endregion */

/*#region Botones */

.btn-primary, .btn-primary:focus{
    background-color: #7f6600;
    border-color:#e7e7e7;
}

.btn-primary:hover{
    background-color: #7F5510;
    border-color:#e7e7e7;
    color: #fc0;
}



/*#endregion */